#header {
    height: 85px;
    padding-top: 20px;
    background-image: url("../header.jpg");
}

#logout-div {
    text-align: right;
    vertical-align: center;
}

#title-div {
    text-align: left;
    vertical-align: center;
}

body {
    background-image:url("../bg.jpg")
}

#avatar_desc {
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#formMessage {
    margin-top: 3%;
}