{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Monitor</title>
    <link rel="icon" href={% static 'temperature.png' %}>
    <link rel="stylesheet" href={% static 'css/home.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="header">
            <div class="col-sm-2"></div>

            <div class="col-sm-6" id="title-div"><h1>Temperature Monitor</h1></div>
            <div class="submit-row" id="buttons-div">
                <form method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="log">View Messages</button>
                        <button type="submit" class="btn btn-primary" name="logout">Logout</button>
                </form>
            </div>

            <div class="col-sm-2"></div>

        </div>
        <br>
        <div class="row" id="info">

            <div class="col-md-2"></div>

            <div class="col-md-4" id="description">
                <p> <h6> This should show the temprature diagram </h6> </p>

                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/360868/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>

            </div>

            <div class="col-md-4" id="members">
                <div class="row ">
                    <div class="col-md-2">
                        <img id="avatar" src={% static 'avatars/Ali.jpg'%} >
                    </div>
                    <div class="col-md-7" id ="avatar_desc">
                        <p>Mohammad Ali Toufighi</p>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-md-2">
                        <img img id="avatar" src={% static 'avatars/Hossein.jpg'%} >
                    </div>
                    <div class="col-md-7" id ="avatar_desc">
                        <p>Hossein Soltanloo</p>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-md-2">
                        <img id="avatar" src={% static 'avatars/Saeid.jpg'%} >
                    </div>
                    <div class="col-md-7" id ="avatar_desc">
                        <p>Saeed Zangeneh</p>
                    </div>
                </div>

            </div>

            <div class="col-md-2"></div>
        </div>
        <br>
        <div class="row" id="content">
            <div class="col-md-2"></div>


            <div class="col-md-4" id="log-form">

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formMessage" aria-expanded="false" aria-controls="collapseExample">
                    Commit a message !
                </button>

                <div class="collapse" id="formMessage">
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" id="title" name="title" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label for="explanation">Explanation</label>
                            <textarea class="form-control" name="explanation" id="explanation" placeholder="Explanation"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                {% if msg %}
                    <hr>
                    {{ msg }}
                {% endif %}
            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
</body>
</html>