{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>

    <title>Messages</title>

    <link rel="icon" href={% static 'temperature.png' %}>
    <link rel="stylesheet" href={% static 'css/log.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="header">
            <div class="col-sm-2"></div>

            <div class="col-sm-6" id="title-div"><h1>Messages</h1></div>
            <div class="submit-row" id="buttons-div">
                <form method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="home">Temperature Diagram</button>
                        <button type="submit" class="btn btn-primary" name="logout">Logout</button>
                </form>
            </div>

            <div class="col-sm-2"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="list">
{#                <nav aria-label="Page navigation example">#}
{#                  <ul class="pagination">#}
{#                    <li class="page-item">#}
{#                      <a class="page-link" href="#" aria-label="Previous">#}
{#                        <span aria-hidden="true">&laquo;</span>#}
{#                        <span class="sr-only">Previous</span>#}
{#                      </a>#}
{#                    </li>#}
{#                    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                    <li class="page-item">#}
{#                      <a class="page-link" href="#" aria-label="Next">#}
{#                        <span aria-hidden="true">&raquo;</span>#}
{#                        <span class="sr-only">Next</span>#}
{#                      </a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </nav>#}
                 {% for message in data %}

                     <div class="list_item">

                         <div class="item_header">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ message.pk }}" aria-expanded="false" aria-controls="collapseExample">
                                {{  message.title }}
                            </button>
                         </div>

                        <div class="item_content">
                            <div class="collapse" id="{{ message.pk }}">
                              <div class="explana">
                                  <p> {{ message.explanation }} </p>
                              </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</body>
</html>